<body>
    <div class="container">
        
        <h1>Erbjudanden</h1> 
        
        <div class="header">
            <i class="material-icons">arrow_back</i>
        </div>
    </div>
    
</body>
