<body>
    <div class="container">
        <h1>SeniorGym</h1>  
        <i class="material-icons">account_box</i>
   
            <div class="menu">
                <i class="material-icons" onclick="toggleMenu()">close</i>
                    <ul>
                        <li><a href="minasidor.html">Mina sidor</a></li>
                        <li><a href="sprak.html">Språk</a></li>
                        <li><a href="instal.html">Inställningar</a></li>
                        <li><a href="erbjud.html">Erbjudanden</a></li>
                    </ul> 
            </div>
        <main>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </main>
        
        <div class="reklambox"></div>
        
        <div class="reklam">
            <p>Spinning
                599kr</p>
        </div>

        
        
        <div class="feedbox"></div>
        
        <div class="feed1">
            <p>Yoga
                1200 kr</p>
            
            <div class="mer1">
                <p>Läs mer</p>
            </div>
        </div>
        
        <div class="feed2">
            <p>Månadskort</p>
            
            <div class="mer2">
                <p>Läs mer</p>
            </div>
        </div>
    
</div>
<script src="js/menu.js"></script>