body {
    background-color: white;
}

.container {
    height: 1334px;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(143, 1, 1);
}

.header {
    grid-column: 1/11;
    grid-row: 1/2;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1,1fr);
}

.header i.material-icons {
    font-size: 8em;
    grid-column: 9/10;
}

h1 {
    grid-column: 3/9;
    grid-row: 1/2;
    text-align: center;
    font-family: Arial;
    font-size: 45px;
}

main{
    background-color: white;
    height: 100%;
}
main i.material-icons{
    font-size: 8em;
}

.menu i.material-icons{    
    font-size: 8em;
}

.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    background: white;
    display: none;
}

.show{
    display: block;
}
.fade{
    background-color: rgb(100,100,100)
}
