body {
    background-color: white;
}

.container {
    height: 1334px;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(143, 1, 1);
}

h1 {
    grid-column: 4/8;
    grid-row: 1;
    text-align: center;
    font-family: Arial;
    font-size: 45px;
}

i.material-icons {
    grid-column: 9/11;
    grid-row: 1;
    font-size: 7em;
}


.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    display: none;
}

.menu li {
    font-size: 45px;
}

.show{
    display: block;
}
.fade{
    background-color: rgb(100,100,100)
}
